In [1]:
import pandas as pd
import numpy as np

import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD, LatentDirichletAllocation

import nltk
nltk.download("wordnet")
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\isofr\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\isofr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\isofr\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df = pd.read_csv ('dataset.csv')

df.head(5)

,Genre,Reports,Age,Gpa,Year,Count,Gender,Nationality
0,Academic Support and Resources,The limited access to research databases and m...,27,2.18,2,1,M,Egypt
1,Academic Support and Resources,I'm having trouble finding the course material...,23,3.11,2,1,F,Egypt
2,Academic Support and Resources,It's frustrating to have limited access to res...,20,3.68,2,1,F,Egypt
3,Academic Support and Resources,I'm really struggling in one of my classes but...,20,1.30,2,1,F,Egypt
4,Academic Support and Resources,I am really struggling with understanding the...,26,2.50,2,1,F,Egypt

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Genre        1005 non-null   object
 1   Reports      1005 non-null   object
 2   Age          1005 non-null   int64
 3   Gpa          1005 non-null   float64
 4   Year         1005 non-null   int64
 5   Count        1005 non-null   int64
 6   Gender       1005 non-null   object
 7   Nationality  1005 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 62.9+ KB

In [4]:
df_text = df['Reports']
df_text.head(5)

0    The limited access to research databases and m...
1    I'm having trouble finding the course material...
2    It's frustrating to have limited access to res...
3    I'm really struggling in one of my classes but...
4     I am really struggling with understanding the...
Name: Reports, dtype: object

In [5]:
df_text = df_text.str.lower()

In [6]:
df_text = df_text.apply(word_tokenize)

lemmatizer = WordNetLemmatizer()
df_text = df_text.apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

df_text.head(5)

0    [the, limited, access, to, research, database,...
1    [i, 'm, having, trouble, finding, the, course,...
2    [it, 's, frustrating, to, have, limited, acces...
3    [i, 'm, really, struggling, in, one, of, my, c...
4    [i, am, really, struggling, with, understandin...
Name: Reports, dtype: object

In [7]:
stop_w = set(stopwords.words('english'))

df_text = df_text.apply(lambda x: [word for word in x if word not in stop_w])
print ('Stop Words: \n', stop_w)
df_text.head(5)

Stop Words:
 {'shouldn', 'they', 'herself', 'for', "mightn't", 'with', 'a', 'under', "shan't", "you'd", 'as', 'we', 'an', 'up', 'y', 'here', 'he', 'to', 'same', 'are', 'aren', 'mustn', "hadn't", 'yourselves', 'myself', 'isn', 've', 'theirs', "isn't", 'by', 'him', 'your', 'ain', 'just', "you've", 'more', 're', "she's", 'will', 'after', "doesn't", 'yourself', 't', 'mightn', 'other', 'during', 'down', 'over', "you'll", 'hers', 'should', 'if', 'now', 'these', 'all', 'his', "mustn't", 'out', 'no', 'hadn', 'haven', 'yours', 'and', 'was', 'did', 'nor', 'while', 'why', 'me', "couldn't", 'how', 'were', "aren't", 'don', 'didn', 'she', 'about', "should've", "weren't", "haven't", 'into', 'because', 'some', 'where', 'so', 'it', 'of', "it's", 'needn', 'until', 'been', 'there', 'is', 'such', 'her', 'ma', 'couldn', 'off', 'between', "wouldn't", 'not', 'above', 'does', 'too', 'again', 'further', 'd', "don't", 'the', 'its', 'who', "wasn't", 'themselves', "hasn't", 'any', 'few', 'our', "didn't", 'when', 'you', 'being', 'that', 'below', 'itself', 'what', 's', 'through', "won't", 'on', 'but', 'their', 'both', "needn't", 'once', 'whom', 'than', 'very', 'or', 'them', 'm', 'has', 'in', 'most', 'which', 'ourselves', 'those', 'only', 'my', 'ours', 'himself', 'o', 'had', 'll', "that'll", 'do', 'doing', 'own', 'have', 'before', 'won', 'can', 'hasn', 'having', 'shan', 'wouldn', 'against', 'this', 'weren', 'be', "you're", 'wasn', 'at', 'then', 'am', 'i', "shouldn't", 'from', 'doesn', 'each'}

0    [limited, access, research, database, material...
1    ['m, trouble, finding, course, material, need,...
2    ['s, frustrating, limited, access, research, d...
3    ['m, really, struggling, one, class, ca, n't, ...
4    [really, struggling, understanding, instructio...
Name: Reports, dtype: object

In [8]:
df_text.map(lambda x: x.translate(str.maketrans('', '', string.punctuation)) if isinstance(x, str) else x)
df_text.head(5)

0    [limited, access, research, database, material...
1    ['m, trouble, finding, course, material, need,...
2    ['s, frustrating, limited, access, research, d...
3    ['m, really, struggling, one, class, ca, n't, ...
4    [really, struggling, understanding, instructio...
Name: Reports, dtype: object

In [9]:
vectorizer = CountVectorizer()

BoW_df = vectorizer.fit_transform(df_text.apply(' '.join))
print(BoW_df)

  (0, 846)	1
  (0, 51)	2
  (0, 1204)	1
  (0, 373)	1
  (0, 893)	1
  (0, 238)	1
  (0, 869)	1
  (0, 623)	1
  (0, 109)	1
  (0, 1383)	1
  (0, 951)	1
  (0, 186)	1
  (0, 43)	1
  (0, 1393)	1
  (0, 46)	1
  (1, 893)	1
  (1, 951)	1
  (1, 1494)	1
  (1, 591)	1
  (1, 349)	1
  (1, 264)	1
  (1, 840)	1
  (1, 449)	1
  (1, 198)	1
  (1, 107)	1
  :	:
  (1000, 17)	1
  (1000, 407)	1
  (1000, 1505)	1
  (1001, 92)	1
  (1001, 590)	1
  (1001, 604)	1
  (1001, 18)	1
  (1001, 1505)	1
  (1002, 590)	1
  (1002, 501)	1
  (1002, 604)	1
  (1002, 19)	1
  (1002, 1505)	1
  (1003, 590)	1
  (1003, 686)	1
  (1003, 604)	1
  (1003, 20)	1
  (1003, 976)	1
  (1003, 1505)	1
  (1004, 590)	1
  (1004, 604)	1
  (1004, 21)	1
  (1004, 341)	1
  (1004, 843)	1
  (1004, 1505)	1

In [10]:
tfidf = TfidfVectorizer()

tfidf_df = tfidf.fit_transform(df_text.apply(' '.join))
print(tfidf_df)

  (0, 46)	0.3226636377519928
  (0, 1393)	0.255391330494798
  (0, 43)	0.241039156879654
  (0, 186)	0.26671741205445065
  (0, 951)	0.17770802539245295
  (0, 1383)	0.12525191187607276
  (0, 109)	0.3385737916167408
  (0, 623)	0.3300485435416517
  (0, 869)	0.22473537401201082
  (0, 238)	0.21705707421098508
  (0, 893)	0.19672018709871963
  (0, 373)	0.25964763327943624
  (0, 1204)	0.25964763327943624
  (0, 51)	0.3616200664679432
  (0, 846)	0.16932661261674098
  (1, 1321)	0.42952067611588185
  (1, 107)	0.25220653114239194
  (1, 198)	0.42952067611588185
  (1, 449)	0.31659571411452875
  (1, 840)	0.347633858084929
  (1, 264)	0.20367075211317565
  (1, 349)	0.20727313949930995
  (1, 591)	0.2509584780563873
  (1, 1494)	0.3280864611855377
  (1, 951)	0.2025143045975075
  :	:
  (1000, 903)	0.36837529742985026
  (1000, 590)	0.2645371375263222
  (1000, 951)	0.24068387058592397
  (1001, 1505)	0.5607737519989152
  (1001, 18)	0.5466535351712615
  (1001, 604)	0.36121997439374565
  (1001, 590)	0.3235050350614783
  (1001, 92)	0.3893164958522499
  (1002, 1505)	0.529261688837942
  (1002, 19)	0.5159349420379663
  (1002, 604)	0.34092161590687614
  (1002, 501)	0.4942081241177764
  (1002, 590)	0.3053260260379428
  (1003, 1505)	0.4648938197184532
  (1003, 976)	0.4956842319874501
  (1003, 20)	0.4648938197184532
  (1003, 604)	0.29945933285200393
  (1003, 686)	0.40055129081951424
  (1003, 590)	0.2681928155727476
  (1004, 1505)	0.4395220018782374
  (1004, 843)	0.48928589229019037
  (1004, 341)	0.48928589229019037
  (1004, 21)	0.4284548897944016
  (1004, 604)	0.28311618669386623
  (1004, 590)	0.25355605557691185

In [11]:
lsa = TruncatedSVD(n_components=4, algorithm='randomized', n_iter=15, random_state=42)
result = lsa.fit_transform(tfidf_df)

for i in range(result.shape[1]):
    df_text[f'LSA Topic {i}'] = result[:, i]
print (result)

[[ 0.3338029  -0.21374745 -0.28799139  0.18593961]
 [ 0.19104546 -0.10968956 -0.01713882  0.03460272]
 [ 0.2828435  -0.1037669  -0.2670521   0.10909334]
 ...
 [ 0.05338554  0.05151843  0.04462632  0.11163607]
 [ 0.05154547  0.04954514  0.04217785  0.13423299]
 [ 0.04269714  0.04087804  0.03471624  0.09666209]]

In [12]:
n_top_words = 4
topics = []
feature_names = vectorizer.get_feature_names_out()

topics = [[feature_names[i] for i in topic.argsort()[:-n_top_words - 1:-1]] for topic in lsa.components_]

for i, topic in enumerate(topics):
    print(f"Topic {i+1}: {', '.join(topic)}")

Topic 1: student, academic, limited, access
Topic 2: student, university, opportunity, option
Topic 3: health, mental, time, academic
Topic 4: option, food, campus, cafeteria

In [13]:
lda = LatentDirichletAllocation(n_components=4, doc_topic_prior=0.9, topic_word_prior=0.9)
result = lda.fit_transform(tfidf_df)

for i in range(result.shape[1]):
    df_text[f'LDA Topic {i}'] = result[:, i]
print (result)

[[0.54922972 0.14459431 0.16487139 0.14130458]
 [0.43655054 0.17647863 0.19737592 0.18959491]
 [0.51555554 0.16741089 0.16016483 0.15686873]
 ...
 [0.19448976 0.36018086 0.20767696 0.23765242]
 [0.18905741 0.38846076 0.20013592 0.22234591]
 [0.19767028 0.35576651 0.20708495 0.23947825]]

In [14]:
n_top_words = 4
topics = []
feature_names = vectorizer.get_feature_names_out()

topics = [[feature_names[i] for i in topic.argsort()[:-n_top_words - 1:-1]] for topic in lda.components_]

for i, topic in enumerate(topics):
    print(f"Topic {i+1}: {', '.join(topic)}")

Topic 1: access, limited, course, online
Topic 2: food, like, available, pay
Topic 3: academic, time, university, student
Topic 4: option, student, cafeteria, campus